.toDoRow {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toDoCheckbox {
    margin-right: 10px;
    cursor: pointer;
}

.todoInput {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
}

.deleteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.deleteBtn img {
    display: block;
    width: 24px;
    height: 24px;
}